/nbproject/
/lib/
/desktop.ini
/build.xml
*~
JMumble/target/
JMumbleLibrary/build/
JMumbleLibrary/Debug
JMumbleLibrary/Release
JMumbleLibrary/x64/
JMumbleLibrary/target/
*.swp
*.suo
*.pdb
*.lib
*.exp
